<footer class="site-footer h-card" id="contact">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <section class="form-section">
            <div class="form-section-image">
                <img src="../assets/images/Rene R logo black-XL.webp" alt="Rene R logo in black"/>
            </div>
            <div class="form">
                <h2>{{"Pret à augmenter votre chiffre d'affaires tout en sauvant la planète ?" | upcase }}</h2>
                <h3>{{"Contactez-moi" | upcase }}</h3>
                <form action="#" method="post">
                    <div class="name">
                        <label for="fname"></label>
                        <input type="text" id="fname" name="fname" placeholder="Prénom">

                        <label for="lname"></label>
                        <input type="text" id="lname" name="lname" placeholder="Nom">
                    </div>

                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email"><br>

                    <label for="business"></label>
                    <input type="text" id="business" name="business" placeholder="Nom de l'entreprise"><br>


                    <label for="category" style="padding: 12px;">Service souhaité :</label>
                    <select id="category" name="category">
                        <option value="option1">Site vitrine</option>
                        <option value="option2">Site e-commerce</option>
                        <option value="option3">Site-web / application</option>
                        <option value="option3">Site vitrine & identité visuelle</option>
                        <option value="option3">Site e-commerce & identité visuelle</option>
                    </select><br>

                    <label for="message"></label>
                    <textarea id="message" name="message" rows="4" cols="50" placeholder="Message"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </section>
        <div class="copyright">
            <span>{{"2023 Re(ne) agency  tous droit reservé " | upcase }}</span>
        </div>
    </div>
  </footer>