---
---

@import "{{site.theme}}";

@font-face {
    font-family: 'Audrey';
    src:  url('../assets/font/Audrey-Normal.woff2') format('woff2'),
          url('../assets/font/Audrey-Normal.woff') format('woff'),
          url('../assets/font/Audrey-Normal.ttf') format('truetype');
    font-display: swap;
  }

// CSS reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .page-content {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    min-width: 390px;
    margin: auto ;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

.wrapper {
	margin: 0;
	padding: 140px 90px;
    max-width: none;
}

ol, ul {
	list-style: none;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

// TYPOGRAPHY

h1, h2, h3, h4 {
    font-family: 'Audrey', Tahoma, sans-serif;
}

h1, h2 {
    font-size: 64px;
    letter-spacing: 2px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.bigger-title {
    font-size: 128px;
    font-weight: bolder;
}

h1 {
    color: #F9F1E8;
}

.marketing-annoucement {
    font-family: 'Audrey', Tahoma, sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 700;
}

.inquire-button {
    align-items: center;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-style: none;
    padding: 14px;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}

.inquire-button.sand-button:hover {
    background-color: #B76154;
    color: #F9F1E8 !important;
}

.inquire-button.terracota-button:hover {
    background-color: #F9F1E8;
    color: #B76154 !important;
}

.inquire-button.black-button:hover {
    background-color: black;
    color: white !important;
}

.sand-button {
    background-color: #F9F1E8;
    color: #B76154 !important;
}

.terracota-button {
    background-color: #B76154;
    color: #F9F1E8 !important;
}

.black-button {
    border: 2px solid #000;
    font-family: 'Audrey', Tahoma, sans-serif;
}

.button-container-centered {
    text-align: center;
    margin-top: 100px;
}

.text-highlighted {
    position: relative;
    z-index: 1;
    padding: 0 10px;
}

.text-highlighted::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    top: 27px;
    left: 0;
    z-index: -1;
}

.wallnut-highlight::before {
    background-color: #D5B8A7;
}

.terracota-highlight::before {
    background-color: #B76154;
}

.sand-highlight::before {
    background-color: #F9F1E8;
}

.small-highlight::before {
    height: 28px !important;
    top: 36px !important;
}

// NAVIGATION

.site-header {
    background-color: #B76154;
    border: none;
    padding: 17px 31px;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.trigger {
    display: flex;
    justify-content: space-evenly;
    gap: 31px;
    font-weight: bold;
    font-size: 20px;
}

.trigger li a {
    color: #F9F1E8 !important;
}

.main-logo {
    width: 74px;
}

// SECTION UNDER HEADER INFO

.under-header-info {
    background-color: #B76154;
    height: 100vh;
    text-align: center;
}

.under-header-info img {
    width: 1418px;
    margin-bottom: 2%;
}

// SECTION why-eco-friendly

.why-eco-friendly {
    background-color: #F9F1E8;
    height: 100vh;
    text-align: center;
}

.icon-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 86px;
    margin: 37px 0 90px;
}

.icon-section-column > img {
    width: 60%;
    margin-bottom: 36px;
}

.icon-section-text > h4 {
    margin-bottom: 21px;
}

#audit-announcement {
    margin-bottom: 30px;
}

// section service-a-la-carte

.service-a-la-carte{
    background-color: #D3D9CE;
    height: 85vh;
}

#list-of-actions {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 90px;
}

.banderol {
    position: relative;
}

#a-la-carte {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.animated-text-slider {
    width: 100vw;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: #F9F1E8;
    display: flex;
    padding: 10px;
    position: absolute;
    right: -90px;
}

.text-content h2 {
    margin-bottom: 30px;
}

#text-2 {
    top: 96px;
}

.animated-text, .animated-text2 {
    white-space: nowrap;
    font-family: 'Audrey', Tahoma, sans-serif;
    font-size: 64px;
}

.animated-text {
    animation: Scroll 8s linear infinite;
}

.animated-text2 {
    animation: Scroll2 8s linear infinite;
}

@keyframes Scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes Scroll2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

// section services

.services {
    background-color: #F9F1E8;
    height: fit-content;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 85px;
    grid-row-gap: 100px;
    grid-auto-rows: min-content;
}

.services-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #000;
    border-radius: 50px;
}

.services-component-content {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30%;
    padding: 26px 40px;
    border-bottom: 2px solid;
    column-gap: 20px;
}

.services-component-content > h3 {
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 40px;
}

.services-component-content > img {
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 50px;
}

.services-component-content > p {
    padding-top: 20px;
}

.services-componement-button, .services-componement-price {
    padding: 20px 40px;
    font-family: 'Audrey', Tahoma, sans-serif;
    font-size: 20px;
}

.services-componement-button {
    border-right: 2px solid;
}

.services-componement-price {
    color: #a5584c;
    font-weight: bolder;
}

// travailler avec nous

.travailler-avec-nous {
    background-color: #ECE6DD;
}

.travailler-table {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, 385px);
}

.padding-right {
    padding-right: 30px;
}

.padding-left {
    padding-left: 30px;
}

.padding-top {
    padding-top: 30px
}

.padding-bottom {
    padding-bottom: 30px
}

.travailler-box {
    background-color: #F9F1E8;
    color: #a5584c;
    font-weight: bolder;
    font-size: 40px;
    border-radius: 50px;
    padding: 30px;
    height: 83%;
}

.travailler-box.end {
    display: flex;
    align-items: flex-end;
}

.travailler-box-container {
    position: relative;
    z-index: 1;
}

.travailler-box-container.border-top::after {
    content: "";
    position: absolute;
    border-top: 2px solid #B76154;
    left: 22px;
    top: 0;
    width: 90%;
    height: 5px;
}

.travailler-box-container.border-right-top::before {
    content: "";
    position: absolute;
    border-right: 2px solid #B76154;
    right: 0;
    top: 5px;
    width: 80%;
    height: 350px;
}

.travailler-box-container.border-right-bottom::before {
    content: "";
    position: absolute;
    border-right: 2px solid #B76154;
    right: 0;
    top: 34px;
    width: 80%;
    height: 350px;
}

// section contact

.contact {
    background-color: #F9F1E8;
}

.form-section{
    display: flex;
    padding: 30px;
}

.form {
    text-align: initial;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 28px;
    grid-row-gap: 10px;
    margin-top: 50px;
}

.form > h3 {
    font-size: 64px;
    font-weight: bolder;
}

.form > h4 {
    font-size: 48px;
}

.form-field-wrapper.email {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-field-wrapper.business {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

.form-field-wrapper.service {
    grid-row-start: 1;
    grid-column-start: 3;
}

.form-field-wrapper.message {
    grid-row-end: 4;
    grid-row-start: 2;
}

form input, form select {
    border-radius: 50px;
    border: 1px solid black;
    margin: 10px 0px;
    width: 100%;
    padding: 12px;
    background-color: transparent;
}

form input.width90 {
    width: 90%;
}

form input.width95 {
    width: 95%;
}

form textarea {
    border-radius: 30px;
    border: 1px solid black;
    padding: 12px;
    margin: 10px 0px;
    height: 63%;
    width: 100%;
    background-color: transparent;
}

input[value="ENVOYER"] {
    background-color: transparent;
    font-size: 64px;
    font-family: Audrey;
    padding: 60px;
    font-weight: 700;
    grid-column-end: 3;
    grid-column-start: 1;
}

input[value="ENVOYER"]:hover {
    color:white;
    background-color: black;
}

// footer

.site-footer {
    background-color: #D5B8A7;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 20px 90px;
    gap: 30px;
}

.XL-R-logo {
    width: 11%;
}

.footer-column-2 {
    padding: 20px;
    width: 32%;
}

.footer-column-2 p {
    font-size: 16px;
}

.footer-column-3{
    width: 10%;
    margin-left: 30%;
}

.footer-column-3 img {
    width: 75%;
}

.footer-column-3 ul {
    line-height: 35px;
}

.socials {
    margin-top: 20px;
}

.footnotes {
    background-color: #F9F1E8;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    gap: 30px;
}

#wcb.carbonbadge {
    height: 37px;
}

.legal-pages {
    display: flex;
}

.legal-pages-section {
    position: relative;
    padding: 0 10px
}

.legal-pages-section::after {
    content: "";
    position: absolute;
    border-right: 1.5px solid black;
    right: 0;
    top: 0;
    height: 20px;
}

.copyright {
    padding: 0 10px
}

@media screen and (max-width: 1093px) {

    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }

    .site-nav label[for=nav-trigger] {
        cursor: pointer;
        padding-right: 5px;
    }

    .site-nav {
        padding-top: 10px;
        flex-direction: column;
        gap: 30px;
        line-height: 0;
        background-color: transparent;
        border: none;
        position: unset;
        align-items: flex-end;
    }

    .site-nav .menu-icon {
        display: block;
    }

    .site-nav .menu-icon > svg {
        fill: #F9F1E8 !important;
    }
}

@media screen and (max-width: 740px) {

    h1, h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {

    h1, h2 {
        font-size: 36px;
    }

    .inquire-button {
        font-size: 16px;
    }
}