---
layout: default
---

<section class="le-saviez-vous">
    <div class="saviez-vous-container">
        <div class="saviez-vous-text">
            <h2>{{"le saviez-vous ?" | upcase }}</h2>
            <p>Chaque site internet, chaque page, chaque clic, a un impact sur l’environnement, cela s’appelle la</p>
            <span>{{"pollution numérique" | upcase }}</span>
            <img decoding="async" loading="lazy" width="490" height="110" class="paint-brush" src="../assets/Illustrations/paint-brush-sand.webp" alt="paint-brush-stroke-sand">
            <div class="saviez-vous-paragraph">
                <div class="img-text-container">
                    <img decoding="async" loading="lazy" width="50" height="46" class="icon-img" src="../assets/Icons/plane-solid-sand.webp" alt="Plane-solid-sand">
                    <p>Aller sur internet demande une production d'électricité importante. Aujourd’hui, l’empreinte carbone du numérique dépasse celle du voyage aérien.</p>
                </div>
                <div class="img-text-container">
                    <img decoding="async" loading="lazy" width="50" height="52" class="icon-img" src="../assets/Illustrations/Carte-france-sand.webp" alt="carte-de-France">
                    <p>Le numérique mondial représente un 7ème continent de la taille de 2 à 3 fois celle de la France. *</p>
                </div>
            </div>
            <a href="#contact" class="inquire-button" >Demander un devis</a>
        </div>
        <span class="anotation">* Donées de greenit.com</span>
    </div>
  </section>
  <section class="impact-numerique">
    <h2>{{"CONTRIBUTION DU NUMÉRIQUE À L’EMPREINTE DE L’HUMANITÉ" | upcase }}</h2>
    <div class="table">
        <div class="table-column">
            <img decoding="async" loading="lazy" width="40" height="53" src="../assets/Icons/bolt-solid.webp" alt="lightning-bolt-icon">
            <span>4,2%</span>
            <p>consommation d'énergie primaire</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="40" height="28" src="../assets/Icons/cloud-solid.webp" alt="cloud-icon">
            <span>3,2%</span>
            <p>émission de gaz à effet de serre</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="40" height="50" src="../assets/Icons/droplets-solid.webp" alt="water-drop-icon">
            <span>0,2%</span>
            <p>consommation d'eau</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="40" height="53" src="../assets/Icons/plug-solid.webp" alt="electricity-plug-icon">
            <span>5,6%</span>
            <p>consommation d'électricité</p>
        </div>
    </div>
    <span class="anotation">* Donées de greenit.com</span>
  </section>