---
layout: default2
---
<section class="under-header">
    <div class="wrapper">
        <h1 class="bigger-title">{{"une agence web" | upcase }}</br><span class="text-highlighted terracota-highlight big-highlight">{{ "éco-responsable" | upcase }}</span></h1>
    </div>
</section>
<section class="saviez-vous">
    <div class="wrapper">
        <div class="saviez-vous-container">
            <div class="saviez-vous-text">
                <h2>{{"le saviez-vous ?" | upcase }}</h2>
                <p>Chaque site internet, chaque page, chaque clic, a un impact sur l’environnement, on appel cela la</p>
                <span class="bigger-title">{{"pollution numérique" | upcase }}</span>
                <div class="saviez-vous-paragraph">
                    <div class="img-text-container">
                        <img decoding="async" loading="lazy" width="116" height="116" class="icon-img" src="../assets/Icons/plane-solid-sand.webp" alt="Plane-solid-sand">
                        <p>Aller sur internet demande une production d'électricité importante. Aujourd’hui, l’empreinte carbone du numérique dépasse celle du voyage aérien.</p>
                    </div>
                    <div class="img-text-container">
                        <img decoding="async" loading="lazy" width="116" class="icon-img" src="../assets/Illustrations/Carte-france-sand.webp" alt="carte-de-France">
                        <p>Le numérique mondial représente un 7ème continent de la taille de 2 à 3 fois celle de la France. *</p>
                    </div>
                </div>
                <a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank" class="inquire-button sand-button">demander un devis</a>
            </div>
            <span class="anotation">* Donées de greenit.com</span>
        </div>
    </div>
  </section>
<section class="engagements">
    <div class="wrapper">
        <div class="engagements-container">
            <h2 class="bigger-title">{{"nos engagements" | upcase }}</h2>
            <h3>{{"Pour des sites qui prennent soin de notre planète" | downcase }}</h3>
            <ol>
                <li>Penser eco-responsabilité tous au long du processus de création de votre site, Du design, au dévlopement à l’hébergement et bien plus encore.</li>
                <li>Créer un site internet avec les plus faible émissions carbones possible.</li>
                <li>Aller à l’essentiel.</li>
                <li>Créer un site durable dans la temps et accessible à tous.</li>
            </ol>
            <a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank" class="inquire-button terracota-button">faire une estimation</a>
        </div>
    </div>
</section>
<section class="impact-numerique">
<div class="wrapper">
    <h2>{{"CONTRIBUTION DU NUMÉRIQUE À" | upcase }}<br>{{ "L’EMPREINTE DE L’HUMANITÉ" | upcase }}</h2>
    <div class="table">
        <div class="table-column">
            <img decoding="async" loading="lazy" width="54" src="../assets/Icons/bolt-solid.webp" alt="lightning-bolt-icon">
            <span>4,2%</span>
            <p>consommation d'énergie primaire</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="54" src="../assets/Icons/cloud-solid.webp" alt="cloud-icon">
            <span>3,2%</span>
            <p>émission de gaz à effet de serre</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="54" src="../assets/Icons/droplets-solid.webp" alt="water-drop-icon">
            <span>0,2%</span>
            <p>consommation d'eau</p>
        </div>
        <div class="table-column">
            <img decoding="async" loading="lazy" width="54" src="../assets/Icons/plug-solid.webp" alt="electricity-plug-icon">
            <span>5,6%</span>
            <p>consommation d'électricité</p>
        </div>
    </div>
    <span class="anotation">* Donées de greenit.com</span>
</div>
</section>