---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <section class="under-header-info">
    <h2>SPECIALISTE DE LA GREEN TECH</h2>
    <div class="animated-titles-list">
        <span>{{"WEB DESIGN" | upcase }}</span>
        <span>{{"DEVELOPPEMENT FRONT-END" | upcase }}</span>
        <span>{{"ACCESSIBILITé" | upcase }}</span>
        <span>{{"SEO" | upcase }}</span>
    </div>
    <div class="under-header-buttons">
        <div class="button-wrapper">
            <a class="button1" href="#services">{{"Services" | upcase }}</a>
            <div class="background-animation"></div>
        </div>
        <div class="button-wrapper">
            <a class="button1" href="{% link portfolio.markdown %}">{{"Portfolio" | upcase }}</a>
            <div class="background-animation"></div>
        </div>
    </div>
    <img class="flower2" src="../assets/Illustrations/Flower 1 with outlines.webp" alt="flower-illustration-rene-aagency"/>
    <div class="animated-text-slider">
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
    </div>
    <div class="animated-text-slider">
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
        <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
    </div>
  </section>
  <section class="le-saviez-vous">
    <div class="saviez-vous-container">
        <div class="saviez-vous-text">
            <h2>{{"le saviez-vous ?" | upcase }}</h2>
            <p>Chaque site internet, chaque page, chaque clic, a un impact sur l’environnement, cela s’appelle la</p>
            <span>{{"pollution numérique" | upcase }}</span>
            <img class="paint-brush" src="../assets/Illustrations/Paint brush sand.png" alt="Rene paint brush sand"/>
            <div class="saviez-vous-paragraph">
                <div class="img-text-container">
                    <img class="icon-img" src="../assets/Icons/plane-solid-sand.png" alt="Plane solid sand"/>
                    <p>Aller sur internet demande une production d'électricité importante. Aujourd’hui, l’empreinte carbone du numérique dépasse celle du voyage aérien.</p>
                </div>
                <div class="img-text-container">
                    <img class="icon-img" src="../assets/Illustrations/Carte de la france paint brush sand2.png" alt="carte-de-France"/>
                    <p>Le numérique mondial représente un 7ème continent de la taille de 2 à 3 fois celle de la France. *</p>
                </div>
            </div>
            <a href="#contact"><button class="inquire-button" type="button">Demander un devis</button></a>
        </div>
        <span class="anotation">* Donées de greenit.com</span>
    </div>
  </section>
  <section class="ecology">
    <h2>{{"ce site émet par page vue" | upcase }}</h2>
    <div class="number-container">
        <div class="number-column">
            <span class="letter">A</span>
            <img class="paint-brush-aqua" src="../assets/Illustrations/paint brush aqua2.png" alt="paint-brush-aqua"/>
            <span class="label">ecoIndex</span>
            <img src="../assets/Icons/circle-info-solid.png" alt="index-icon-in-a-circle-black"/>
        </div>
        <div class="number-column">
            <span class="number">1.2cl</span>
            <img style="height: 90px; top: -25px;" class="paint-brush-aqua" src="../assets/Illustrations/paint brush aqua.png" alt="paint-brush-aqua"/>
            <span class="label">H<sub>2</sub>0</span>
            <img src="../assets/Icons/droplets-solid.png" alt="droplets-icon-black"/>
        </div>
        <div class="number-column">
            <span class="number">0.25g</span>
            <img style="height: 90px; top: -25px;" class="paint-brush-aqua" src="../assets/Illustrations/paint brush aqua.png" alt="paint-brush-aqua"/>
            <span class="label">CO<sup>2</sup></span>
            <img src="../assets/Icons/cloud-solid.png" alt="cloud-icon-black"/>
        </div>
    </div>
  </section>
  <section class="services" id="services">
    <h2>{{"services" | upcase }}</h2>
    <div class="services-container">
        <ul>
            <li>
                <div class="services-title" style="color: #B76154; background-color: #F9F1E8;">
                    <h3 id="title-site-vitrine">{{"site vitrine" | upcase }}</h3>
                </div>
                <div class="services-content" id="site-vitrine">
                    <div class="service-description">
                        <h3>{{"site vitrine" | upcase }}</h3>
                        <span>{{"à partir de 1500€" | upcase }}</span>
                        <p>
                            Envie d’un site qui reflète votre commerce ou vos services ? La création d’un site vitrine est parfaite pour vous. Entièrement sur-mesure ou en partant d’un template qui vous plaît, je personnalise votre site en cohérence avec votre univers.<br>
                            Un site vitrine vous permet d'avoir une présence sur Internet, ce qui est devenu essentiel dans le monde numérique d'aujourd'hui. Il offre la possibilité d'être trouvé en ligne par des clients potentiels, ce qui peut augmenter votre visibilité et élargir votre audience. Un site web bien conçu renforce la crédibilité de votre entreprise et donne une image plus professionnelle.
                        </p>
                        <a href="#contact"><button class="inquire-button" type="button">Demander un devis</button></a>
                    </div>
                    <div class="includes-list">
                        <h4>{{"inclut" | upcase }}</h4>
                        <ul>
                            <li>{{"4 pages & pages légal" | upcase }}</li>
                            <li>{{"Création du design" | upcase }}</li>
                            <li>{{"mise en place hébérgment" | upcase }}</li>
                            <li>{{"Mise en ligne du contenu" | upcase }}</li>
                            <li>{{"Optimisation SEO" | upcase }}</li>
                            <li>{{"Responsive" | upcase }}</li>
                            <li>{{"Contenu facilement modifiable" | upcase }}</li>
                            <li>{{"Gogle analytics" | upcase }}</li>
                            <li>{{"option blog" | upcase }}</li>
                            <li>{{"1 mois d'accompagnement" | upcase }}</li>
                        </ul>
                    </div>
                    <div class="service-img">
                        <img src="../assets/images/techsome-mobile-website-on-iphone.png" alt="example-site-vitrine-rene"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="services-title" style="color: #B76154; background-color: #ECE6DD;">
                    <h3 id="title-site-ecommerce">{{"site e-commerce" | upcase }}</h3>
                </div>
                <div class="services-content" style="display: none;" id="site-ecommerce">
                    <div class="service-description">
                        <h3>{{"site e-commerce" | upcase }}</h3>
                        <span>{{"à partir de 2500€" | upcase }}</span>
                        <p>
                            Vous avez une vision unique pour votre entreprise, et un site e-commerce sur mesure peut vous aider à la concrétiser. Imaginez une plateforme en ligne qui reflète l'essence de votre marque, mettant en avant vos produits de manière attrayante et intuitive.<br>
                            Avec une conception pensée pour l'expérience utilisateur, vos clients pourront naviguer en toute simplicité, découvrir vos offres et finaliser leurs achats en toute confiance. De plus, une solution e-commerce personnalisée offre la flexibilité nécessaire pour évoluer avec votre entreprise, vous permettant d'ajouter de nouveaux produits, de gérer les commandes et d'optimiser votre catalogue à tout moment.
                        </p>
                        <a href="#contact"><button class="inquire-button" type="button">Demander un devis</button></a>
                    </div>
                    <div class="includes-list">
                        <h4>{{"inclut" | upcase }}</h4>
                        <ul>
                            <li>{{"tout du site-vitrine +" | upcase }}</li>
                            <li>{{"page produit" | upcase }}</li>
                            <li>{{"page boutique" | upcase }}</li>
                            <li>{{"30 premiers produits en ligne" | upcase }}</li>
                            <li>{{"Mise en place paiement" | upcase }}</li>
                            <li>{{"Mise en place livraison" | upcase }}</li>
                            <li>{{"Pipeline d'achat" | upcase }}</li>
                        </ul>
                    </div>
                    <div class="service-img">
                        <img src="../assets/images/la-fleur-nue-ipad-website.png" alt="example-site-vitrine-rene"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="services-title" style="color: #F9F1E8; background-color: #D5B8A7;">
                    <h3 id="title-web-application" >{{"site web / Application" | upcase }}</h3>
                </div>
                <div class="services-content" style="display: none;" id="site-web-application">
                    <div class="service-description">
                        <h3>{{"Application Web" | upcase }}</h3>
                        <span>{{"devis sur mesure" | upcase }}</span>
                        <p>
                            Vous cherchez à donner vie à vos idées en ligne ?<br>
                            Je transforme vos concepts en une expérience utilisateur captivante. Grâce à une expertise approfondie en HTML, CSS et JavaScript, je conçois des interfaces utilisateur impeccables et réactives qui fonctionnent sur tous les appareils. Des animations fluides aux transitions intuitives, chaque détail est soigneusement façonné pour offrir une expérience web exceptionnelle.<br>
                            Je comprend l'importance de l'accessibilité et de la compatibilité entre navigateurs, assurant ainsi que votre site fonctionne de manière optimale pour tous vos visiteurs.
                        </p>
                        <a href="#contact"><button class="inquire-button" type="button">Demander un devis</button></a>
                    </div>
                    <div class="includes-list">
                        <h4>{{"compétences" | upcase }}</h4>
                        <ul>
                            <li>{{"development-web front-end" | upcase }}</li>
                            <li>{{"web-design" | upcase }}</li>
                            <li>{{"Html & Css" | upcase }}</li>
                            <li>{{"Vanilla JS" | upcase }}</li>
                            <li>{{"React" | upcase }}</li>
                            <li>{{"Wordpress" | upcase }}</li>
                            <li>{{"Stack MERN" | upcase }}</li>
                        </ul>
                    </div>
                    <div class="service-img">
                        <img src="../assets/images/Kasa-web-application-labtop.png" alt="example-site-vitrine-rene"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="services-title" style="color: #F9F1E8; background-color: #B76154;">
                    <h3 id="title-identite-visuelle">{{"identité visuelle" | upcase }}</h3>
                </div>
                <div class="services-content" style="display: none;" id="identite-visuelle">
                    <div class="service-description">
                        <h3>{{"Identité visuelle" | upcase }}</h3>
                        <span>{{"à partir 500€" | upcase }}</span>
                        <p>
                            This is your moment to shine. Tell us everything, so we can really get to know you and what your business is about. During this time, we’ll also reveal more about our design approach. If the stars align, we’ll send you a project timeline and brand questionnaire, so we can create your individual identity that reflects you and the customers you want to attract.From there, we’ll capture every single aspect of your “what” and “why” to deliver an in-depth brand strategy that vibes with your business goals and target audience, along with a visual moodboard that strategically positions your brand to stand out versus blend in.
                        </p>
                        <a href="#contact"><button class="inquire-button" type="button">Demander un devis</button></a>
                    </div>
                    <div class="includes-list">
                        <h4>{{"inclut" | upcase }}</h4>
                        <ul>
                            <li>{{"LOGO Principales" | upcase }}</li>
                            <li>{{"Logo secondaires" | upcase }}</li>
                            <li>{{"couleurs" | upcase }}</li>
                            <li>{{"typography" | upcase }}</li>
                            <li>{{"élements graphique" | upcase }}</li>
                            <li>{{"cartes de visite" | upcase }}</li>
                        </ul>
                    </div>
                    <div class="service-img">
                        <img src="../assets/images/Carte de visite portfolio.jpg" alt="example-site-vitrine-rene"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  </section>
  <section class="renaitre">
    <div class="renaitre-container">
        <div class="renaitre-content">
            <h2>{{"envie de faire re(naitre) votre business ?" | upcase }}</h2>
            <button class="inquire-button2" type="button">Demander un devis</button>
            <div>
                <h2>{{"plus" | upcase }}</h2>
                <div class="animated-titles-list2">
                    <span>{{"rapide" | upcase }}</span>
                    <span>{{"accessible" | upcase }}</span>
                    <span>{{"performant" | upcase }}</span>
                    <span>{{"référencé" | upcase }}</span>
                </div>
            </div>
        </div>
        <div class="flower-images">
            <img id="flower1" src="../assets/Illustrations/Flower 3 with outlines.webp" alt="flower-illustration-aqua"/>
            <img id="flower2" src="../assets/Illustrations/Flower 3 with outlines.webp" alt="flower-illustration-aqua"/>
            <img id="flower3" src="../assets/Illustrations/Flower 3 with outlines.webp" alt="flower-illustration-aqua"/>
            <img id="flower4" src="../assets/Illustrations/Flower 3 with outlines.webp" alt="flower-illustration-aqua"/>
            <img id="flower5" src="../assets/Illustrations/Flower 3 with outlines.webp" alt="flower-illustration-aqua"/>
        </div>
    </div>
  </section>
  <section class="impact-numerique">
    <h2>{{"CONTRIBUTION DU NUMÉRIQUE À L’EMPREINTE DE L’HUMANITÉ" | upcase }}</h2>
    <div class="table">
        <div class="table-column">
            <img src="../assets/Icons/bolt-solid.png"/>
            <span>4,2%</span>
            <p>consommation d'énergie primaire</p>
        </div>
        <div class="table-column">
            <img src="../assets/Icons/cloud-solid.png"/>
            <span>3,2%</span>
            <p>émission de gaz à effet de serre</p>
        </div>
        <div class="table-column">
            <img src="../assets/Icons/droplets-solid.png"/>
            <span>0,2%</span>
            <p>consommation d'eau</p>
        </div>
        <div class="table-column">
            <img src="../assets/Icons/plug-solid.png"/>
            <span>5,6%</span>
            <p>consommation d'électricité</p>
        </div>
    </div>
    <span class="anotation">* Donées de greenit.com</span>
  </section>
  <section class="a-propos" id="a-propos">
    <h2>{{"A propos" | upcase }}</h2>
    <div class="a-propos-container">
        <img src="../assets/images/Photo roxanne b&w.jpg" alt="Roxanne Lottier en noir et blanc"/>
        <div class="a-propos-content">
            <h3>{{"Bonjour, moi c’est Roxanne" | upcase }}</h3>
            <p>
                Après plusieurs années à travailler en tant que Chef de produit/Merchandiseur dans le prêt-à-porter, je me suis reconvertie dans le web. Ma passion et mes valeurs m'ont poussée à me spécialiser dans la Green Tech, une façon de faire ma part pour aider notre chère planète. Formée d’abord en marketing du luxe, je suis maintenant diplômée en développement web. Simplicité, beauté et efficacité sont mes leitmotivs.
            </p>
        </div>
    </div>
  </section>
  <section class="portfolio">
    <h2>{{"portfolio" | upcase }}</h2>
    <div class="portfolio-works">
        <ul>
            <li class="works">
                <figure>
                    <a href="{% link kasa-project.markdown %}">
                        <img src="../assets/images/Kasa/portfolio-kasa.png" alt="Kasa-website-web-application-react"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"application-web" | upcase }}</h3>
                                <h3>{{"DEVELOPPEMENT front-end" | upcase }}</h3>
                                <h3>{{"React" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works">
                <figure>
                    <a href="{% link Sophie-Buel-project.markdown %}">
                        <img src="../assets/images/porfolio-sophie-buel.png"alt="Sophie-Buel-website-site-vitrine-web-development"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"site vitrine" | upcase }}</h3>
                                <h3>{{"DEVELOPPEMENT front-end" | upcase }}</h3>
                                <h3>{{"vanilla JS" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works">
                <figure>
                    <a href="{% link Booki-project.markdown %}">
                        <img src="../assets/images/portfolio-booki.png" alt="Booki-website-integration"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"application web" | upcase }}</h3>
                                <h3>{{"integration web" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works">
                <figure>
                    <a href="{% link La-Fleur-Nue-project.markdown %}">
                        <img src="../assets/images/portfolio-la-fleur-nue.png" alt="La-Fleur-Nue-website-site-e-commerce"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"site-ecommerce" | upcase }}</h3>
                                <h3>{{"web-design" | upcase }}</h3>
                                <h3>{{"DEVELOPPEMENT web" | upcase }}</h3>
                                <h3>{{"Wordpress" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works">
                <figure>
                    <a href="{% link Nina-Carducci-project.markdown %}">
                        <img src="../assets/images/portfolio-nina-carducci.png" alt="Nina-Carducci-website-performance-seo"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"site-vitrine" | upcase }}</h3>
                                <h3>{{"SEO" | upcase }}</h3>
                                <h3>{{"ACCESSIBILITé" | upcase }}</h3>
                                <h3>{{"Performances" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works">
                <figure>
                    <a href="{% link Techsome-project.markdown %}">
                        <img src="../assets/images/portfolio-techsome.png" alt="Techsome-website-site-vitirne"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <h3>{{"site-vitrine" | upcase }}</h3>
                                <h3>{{"web-design" | upcase }}</h3>
                                <h3>{{"DEVELOPPEMENT web" | upcase }}</h3>
                                <h3>{{"identité visuelle" | upcase }}</h3>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img src="../assets/Icons/arrow-right-solid.png"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
        </ul>
    </div>
    <div class="button-wrapper" id="portfolio-button">
        <a class="button1" href="{% link portfolio.markdown %}">{{"voir tous les projets" | upcase }}</a>
        <div class="background-animation"></div>
    </div>
  </section>
</div>
