---
layout: default
---

<div class="home">
    <section class="under-header-info">
        <img src="../assets/images/Logo/rene-logo-sans-agency-XL-sand.webp" alt="rene-log-XL-sand">
        <h1 class="sand">{{"Création de site internet" | upcase }}</br><span>éco-reponsable</span></h1>
    </section>
    <section class="why-eco-friendly">
        <div class="wrapper">
            <h2>{{"Une agence web " | upcase }}<span class="text-highlighted terracota-highlight">{{"éco-responsable" | upcase }}</span></h2>
            <h3>pourquoi avoir un site à faible émission carbone ?</h3>
            <div class="icon-section">
                <div class="icon-section-column">
                    <img src="../assets/Icons/planet-icon.webp" alt="earth-icon">
                    <div class="icon-section-text">
                        <h4>{{"Responsabilité environnementale" | upcase }}</h4>
                        <p>Un site web éco-responsable minimise la consommation d'énergie utilisé pour son fonctionnement.</p>
                    </div>
                </div>
                <div class="icon-section-column">
                    <img src="../assets/Icons/user-icon.webp" alt="user-icon">
                    <div class="icon-section-text">
                        <h4>{{"Expérience utilisateur" | upcase }}</h4>
                        <p>Un site rapide est performant et plus accessible pour une meilleure expérience utilisateur.</p>
                    </div>
                </div>
                <div class="icon-section-column">
                    <img src="../assets/Icons/seo-icon.webp" alt="seo-magnifying-glass-icon">
                    <div class="icon-section-text">
                        <h4>{{"SEO" | upcase }}</h4>
                        <p>Les moteurs de recherche comme Google considèrent la vitesse de la page comme un facteur de classement.</p>
                    </div>
                </div>
                <div class="icon-section-column">
                    <img src="../assets/Icons/money-icon.webp" alt="hand-holding-money-icon">
                    <div class="icon-section-text">
                        <h4>{{"Économies à long terme" | upcase }}</h4>
                        <p>Un site web éco-responsable  entraîne des coûts d'hébergement réduits</p>
                    </div>
                </div>
            </div>
            <p id="audit-announcement" class="marketing-annoucement">offre de lancement, <span class="text-highlighted wallnut-highlight small-highlight"><a href="#contact">audit offert !</a></span></p>
            <a href="#contact" class="inquire-button terracota-button">demander un audit</a>
        </div>
    </section>
    <section class="service-a-la-carte">
        <div id="a-la-carte" class="wrapper">
            <div class="text-content">
                <h2>{{"Un service " | upcase }}<span class="text-highlighted sand-highlight">{{"à la carte" | upcase }}</span>{{" pour répondre a vos besoin specifique" | upcase }}</h2>
                <h3>on s adapte à vos besoin afin de vous proposer une offre sur-mesure</h3>
                <p id="list-of-actions" class="marketing-annoucement">
                    <span>écoute</span>
                    <span>.</span>
                    <span>guide</span>
                    <span>.</span>
                    <span>créer</span>
                    <span>.</span>
                    <span>développe</span>
                    <span>.</span>
                    <span>optimise</span>
                    <span>.</span>
                    <span>maintient</span>
                </p>
                <a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank" class="inquire-button black-button">{{"faire une estimation" | upcase }}</a>
            </div>
            <div class="banderol">
                <div class="animated-text-slider" id="text-1">
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text">{{"simple . beau . efficace . " | upcase }}</span>
                </div>
                <div class="animated-text-slider" id="text-2">
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                    <span class="animated-text2">{{"simple . beau . efficace . " | upcase }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="wrapper">
            <h2 class="bigger-title">{{"services" | upcase }}</h2>
            <div class="services-container">
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"site vitrine" | upcase }}</h3>
                        <p>Envie d’un site qui reflète votre commerce ou vos services ? La création d’un site vitrine est parfaite pour vous. Entièrement sur-mesure ou en partant d’un template qui vous plaît, je personnalise votre site en cohérence avec votre univers.</p>
                        <img src="../assets/images/Services/mobile-website-portfolio-techsome.webp" alt="mobile-version-of-techsome-website">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "à partir de 800€" | upcase }}</span>
                </div>
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"Site e-commerce" | upcase }}</h3>
                        <p>Vous avez une vision unique pour votre entreprise, et un site e-commerce sur mesure peut vous aider à la concrétiser. Imaginez une plateforme en ligne qui reflète l'essence de votre marque, mettant en avant vos produits de manière attrayante et intuitive.</p>
                        <img src="../assets/images/Services/la-fleur-nue-ipad-website.webp" alt="tablette-version-of-la-fleur-nue-website">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "à partir de 1000€" | upcase }}</span>
                </div>
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"APPLICATION WEB" | upcase }}</h3>
                        <p>Vous cherchez à donner vie à vos idées en ligne ?Je transforme vos concepts en une expérience utilisateur captivante. Grâce à une expertise approfondie en HTML, CSS et JavaScript, je conçois des interfaces utilisateur impeccables et réactives qui fonctionnent sur tous les appareils.</p>
                        <img src="../assets/images/Services/Kasa-web-application-labtop.webp" alt="laptop-kasa-web-application">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "selon projet" | upcase }}</span>
                </div>
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"Identité visuelle" | upcase }}</h3>
                        <p>Un site web exceptionnel est une chose, mais une identité visuelle forte est ce qui vous distingue vraiment. En complément d’un site nous vous proposons de réaliser votre identité visuelle. Elle sera parfaitement intégrée à votre site web, créant ainsi une expérience unifiée pour vos visiteurs.</p>
                        <img src="../assets/images/Services/polpo-nero-charte-graphique.webp" alt="laptop-kasa-web-application">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "à partir de 500€" | upcase }}</span>
                </div>
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"audit eco-responsabilité web" | upcase }}</h3>
                        <p>Notre service d'audit de site se concentre sur l'éco-responsabilité numérique. Nous passons au crible chaque élément pour identifier les opportunités d'amélioration. De l'efficacité énergétique à la réduction de l'empreinte carbone, nous vous aidons à prendre des mesures concrètes.</p>
                        <img src="../assets/images/Services/nina-carducci-mobile.webp" alt="mobile-version-nina-carducci-site-internet">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "selon projet" | upcase }}</span>
                </div>
                <div class="services-component">
                    <div class="services-component-content">
                        <h3>{{"Gestion & modification" | upcase }}</h3>
                        <p>This is your moment to shine. Tell us everything, so we can really get to know you and what your business is about. During this time, we’ll also reveal more about our design approach.</p>
                        <img src="../assets/images/Services/labtop-website-portfolio-sophie-buel.webp" alt="laptop-version-sophie-buel-site-internet">
                    </div>
                    <span class="services-componement-button"><a href="{% link services.markdown %}">{{ "en savoir plus" | upcase }}</a></span>
                    <span class="services-componement-price">{{ "selon projet" | upcase }}</span>
                </div>
            </div>
            <div class="button-container-centered">
                <a href="#contact" class="inquire-button black-button">{{"demander un devis" | upcase }}</a>
            </div>
        </div>
    </section>
    <section class="travailler-avec-nous">
        <div class="wrapper">
            <h2 class="bigger-title">{{"pourquoi travailler avec nous:" | downcase }}</h2>
            <div class="travailler-table">
                <div class="travailler-box-container padding-right border-right-top terracota-border padding-bottom">
                    <div class="travailler-box">
                        <h3>un hébergement éco-responsable</h3>
                    </div>
                </div>
                <div class="travailler-box-container border-right-top terracota-border padding-right padding-left padding-bottom">
                    <div class="travailler-box end">
                        <h3>un devis personnaliser</h3>
                    </div>
                </div>
                <div class="travailler-box-container border-right-top terracota-border padding-right padding-left padding-bottom">
                    <div class="travailler-box">
                        <h3>un site internet sur-mesure</h3>
                    </div>
                </div>
                <div class="travailler-box-container padding-left padding-bottom">
                    <div class="travailler-box end">
                        <h3>des developpeurs compétents</h3>
                    </div>
                </div>
                <div class="travailler-box-container border-right-bottom terracota-border padding-right border-top padding-top">
                    <div class="travailler-box">
                        <h3>un site internet ecoIndex A ou B</h3>
                    </div>
                </div>
                <div class="travailler-box-container border-right-bottom terracota-border padding-right padding-left border-top padding-top">
                    <div class="travailler-box end">
                        <h3>vous pouvez mettre à jour votre site facilement</h3>
                    </div>
                </div>
                <div class="travailler-box-container border-right-bottom terracota-border padding-right padding-left border-top padding-top">
                    <div class="travailler-box">
                        <h3>un site internet accessible</h3>
                    </div>
                </div>
                <div class="travailler-box-container padding-left border-top terracota-border padding-top">
                    <div class="travailler-box end">
                        <h3>un site internet performant et durable</h3>
                    </div>
                </div>
            </div>
            <div class="button-container-centered">
                <a href="#contact" class="inquire-button terracota-button">demander un devis</a>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="wrapper">
            <div class="form-section">
                <div class="form">
                    <h2 class="bigger-title">{{"contact" | upcase }}</h2>
                    <h3>{{"Construisez Votre Avenir en Ligne," | upcase }}<br>{{"tout en" | upcase }}<span class="text-highlighted wallnut-highlight">{{" Respectant la Planète."| upcase }}</span></h3>
                    <h4>{{"créeons un site internet eco-responsable ensemble" | downcase }}</h4>
                    <form action="https://formspree.io/f/mwkdrggg" method="POST">
                        <div class="form-field-wrapper">
                            <label for="fname">Prénom</label>
                            <input class="width90" type="text" id="fname" name="fname" required>
                        </div>
                        <div class="form-field-wrapper">
                            <label for="lname">Nom</label>
                            <input class="width90" type="text" id="lname" name="lname" required>
                        </div>
                        <div class="form-field-wrapper email">
                            <label for="email">Email</label>
                            <input class="width95" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-field-wrapper business">
                            <label for="business">Nom de l'entreprise</label>
                            <input class="width95" type="text" id="business" name="business" required>
                        </div>
                        <div class="form-field-wrapper service">
                            <label for="category">Service souhaité :</label>
                            <select id="category" name="category" required>
                                <option value="" disabled selected>Sélectionner le service souhaité</option>
                                <option value="Site vitrine">Site vitrine</option>
                                <option value="Site e-commerce">Site e-commerce</option>
                                <option value="Site-web / application">Site-web / application</option>
                                <option value="Site vitrine & identité visuelle">Site vitrine & identité visuelle</option>
                                <option value="Site e-commerce & identité visuelle">Site e-commerce & identité visuelle</option>
                                <option value="audit éco-reponsable">audit éco-reponsable</option>
                                <option value="gestion et/ou modification">gestion et/ou modification</option>
                                <option value="autres">autres</option>
                            </select><br>
                        </div>
                        <div class="form-field-wrapper message">
                            <label for="message">Message</label>
                            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
                        </div>
                        <input type="submit" value="ENVOYER">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

