---
layout: default
---

<section class="portfolio" id="portfolio-page">
    <h1>{{"portfolio" | upcase }}</h1>
    <a href="https://github.com/RoxanneLottier" target="_blank"><img decoding="async" loading="lazy" width="50" height="50" id="github" src="../assets/images/github logo.webp" alt="github logo"/></a>
    <div class="filter-bar">
        <ul id="filter">
            <li class="active" data-filter="tous">{{"tous" | upcase }}</li>
            <li data-filter="web-design">{{"web design" | upcase }}</li>
            <li data-filter="web-development">{{"web development" | upcase }}</li>
            <li data-filter="identite-visuelle">{{"identite visuelle" | upcase }}</li>
            <li data-filter="seo">{{"seo" | upcase }}</li>
        </ul>
    </div>
    <div class="portfolio-works">
        <ul>
            <li class="works" data-category="web-development">
                <figure>
                    <a href="{% link kasa-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/Kasa/portfolio-kasa.webp" alt="Kasa-website-web-application-react"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"application-web" | upcase }}</span><br>
                                <span>{{"DEVELOPPEMENT front-end" | upcase }}</span><br>
                                <span>{{"React" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works" data-category="web-development">
                <figure>
                    <a href="{% link Sophie-Buel-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/porfolio-sophie-buel.webp"alt="Sophie-Buel-website-site-vitrine-web-development"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"site vitrine" | upcase }}</span><br>
                                <span>{{"DEVELOPPEMENT front-end" | upcase }}</span><br>
                                <span>{{"vanilla JS" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works" data-category="web-development">
                <figure>
                    <a href="{% link Booki-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/Booki/Portfolio-Booki.webp" alt="Booki-website-integration"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"application web" | upcase }}</span><br>
                                <span>{{"integration web" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works" data-category="web-design">
                <figure>
                    <a href="{% link La-Fleur-Nue-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/portfolio-la-fleur-nue.webp" alt="La-Fleur-Nue-website-site-e-commerce"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"site-ecommerce" | upcase }}</span><br>
                                <span>{{"web-design" | upcase }}</span><br>
                                <span>{{"DEVELOPPEMENT web" | upcase }}</span><br>
                                <span>{{"Wordpress" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works" data-category="seo">
                <figure>
                    <a href="{% link Nina-Carducci-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/portfolio-nina-carducci.webp" alt="Nina-Carducci-website-performance-seo"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"site-vitrine" | upcase }}</span><br>
                                <span>{{"SEO" | upcase }}</span><br>
                                <span>{{"ACCESSIBILITé" | upcase }}</span><br>
                                <span>{{"Performances" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
            <li class="works" data-category="identite-visuelle">
                <figure>
                    <a href="{% link Techsome-project.markdown %}">
                        <img decoding="async" loading="lazy" width="380" height="500" src="../assets/images/portfolio-techsome.webp" alt="Techsome-website-site-vitirne"/>
                        <figcaption class="hover-card">
                            <div class="hover-card-title">
                                <span>{{"site-vitrine" | upcase }}</span><br>
                                <span>{{"web-design" | upcase }}</span><br>
                                <span>{{"DEVELOPPEMENT web" | upcase }}</span><br>
                                <span>{{"identité visuelle" | upcase }}</span>
                            </div>
                            <div class="voir-plus">
                                <span>découvrir le projet</span>
                                <img decoding="async" loading="lazy" width="20" height="20" src="../assets/Icons/arrow-right-solid.webp" alt="arrow-right-solid"/>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </li>
        </ul>
        <!-- <img src="../assets/images/portfolio-salon-septieme.png"/> -->
    </div>
</section>