---
layout: default
---

<section class="presentation">
    <div class="presentation-header">
        <h1>{{page.title | upcase}}</h1>
        <div class="list1">
            <span>{{"étendue des travaux:" | upcase }}</span>
            <ul>
                <li>{{page.tag1}}</li>
                <li>{{page.tag2}}</li>
                <li>{{page.tag3}}</li>
                <li>{{page.tag4}}</li>
            </ul>
        </div>
        <hr>
        <div class="list1">
            <span>{{"Tech-stack:" | upcase }}</span>
            <ul>
                <li>{{page.techstack1}}</li>
                <li>{{page.techstack2}}</li>
                <li>{{page.techstack3}}</li>
                <li>{{page.techstack4}}</li>
            </ul>
        </div>
        <hr>
        <div class="list2">
            <span>{{"Fonctionnalités developpés:" | upcase }}</span>
            <ul>
                <li>{{page.fonct1}}</li>
                <li>{{page.fonct2}}</li>
                <li>{{page.fonct3}}</li>
                <li>{{page.fonct4}}</li>
            </ul>
        </div>
        <hr>
    </div>
    <div class="presentation-description">
        <h2>{{"context:" | upcase }}</h2>
        <p>{{page.description}}</p>
        <div class="button-wrapper">
            <a class="button1" href="{{page.project-url}}" target="_blank">{{"visiter le site" | upcase }}</a>
            <div class="background-animation"></div>
        </div>
    </div>
</section>
<section class="project-images-wrapper">
    {{content}}
</section>