---
layout: default2
---

<section class="under-header">
    <div class="wrapper">
        <h1 class="bigger-title">{{"Création de site internet" | upcase }}</br><span class="text-highlighted terracota-highlight big-highlight">{{ "éco-responsable" | upcase }}</span></h1>
    </div>
</section>
<section class="nos-services">
    <div class="wrapper">
        <h2 class="bigger-title">{{"nos services" | upcase }}</h2>
        <div class="services-table">
            <div class="travailler-box-container padding-right border-right-top sand-border">
                <div class="travailler-box start">
                    <h3>refonte ou création de site internet</h3>
                    <span><a href="#site-vitrine">en savoir plus</a></span>
                </div>
            </div>
            <div class="travailler-box-container border-right-top sand-border padding-right padding-left">
                <div class="travailler-box end">
                    <span><a href="#application-web">en savoir plus</a></span>
                    <h3>développement d’applications web</h3>
                </div>
            </div>
            <div class="travailler-box-container border-right-top sand-border padding-right padding-left">
                <div class="travailler-box start">
                    <h3>audit éco-responsabilité web</h3>
                    <span><a href="#audit">en savoir plus</a></span>
                </div>
            </div>
            <div class="travailler-box-container padding-left">
                <div class="travailler-box end">
                    <span><a href="#gestion" >en savoir plus</a></span>
                    <h3>gestions de site et modifications mineurs</h3>
                </div>
            </div>
        </div>
        <div class="button-container-centered">
            <a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank" class="inquire-button sand-button">demander un devis</a>
        </div>
    </div>
</section>
<section class="services-list">
    <div class="wrapper">
        <div class="services-list-container">
            <div class="services-list-component" id="site-vitrine">
                <div class="services-list-component-content">
                    <h2>{{"site vitrine éco-responsable" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Envie d’un site qui reflète votre commerce ou vos services ? La création d’un site vitrine est parfaite pour vous. Entièrement sur-mesure ou en partant d’un template qui vous plaît, je personnalise votre site en cohérence avec votre univers.Un site vitrine vous permet d'avoir une présence sur Internet, ce qui est devenu essentiel dans le monde numérique d'aujourd'hui. Il offre la possibilité d'être trouvé en ligne par des clients potentiels, ce qui peut augmenter votre visibilité et élargir votre audience. Un site web bien conçu renforce la crédibilité de votre entreprise et donne une image plus professionnelle.</p>
                        <div class="inclut-list">
                            <h3>{{"inclut" | upcase }}</h3>
                            <ul>
                                <li>{{"1 à 4 PAGES & PAGES LÉGAL" | upcase }}</li>
                                <li>{{"Conception et DESIGN" | upcase }}</li>
                                <li>{{"CONTENU FACILEMENT MODIFIABLE" | upcase }}</li>
                                <li>{{"1 MOIS D'ACCOMPAGNEMENT" | upcase }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list-component-content-column2">
                        <h3>{{"a la carte" | upcase }}</h3>
                        <ul>
                            <li>{{"AChat nom de domaine" | upcase }}</li>
                            <li>{{"MISE EN PLACE HÉBÉRGMENT" | upcase }}</li>
                            <li>{{"MISE EN LIGNE DU CONTENU" | upcase }}</li>
                            <li>{{"OPTIMISATION SEO" | upcase }}</li>
                            <li>{{"RESPONSIVE" | upcase }}</li>
                            <li>{{"GOOGLE ANALYTICS" | upcase }}</li>
                            <li>{{"mise en place d’un BLOG" | upcase }}</li>
                            <li>{{"OPTIMISATION ACCESSIBILITE" | upcase }}</li>
                            <li>{{"OPTIMISATION PERFORMANCE" | upcase }}</li>
                            <li>{{"PAGES SUPPLEMENTAIRES" | upcase }}</li>
                            <li>{{"maintenance" | upcase }}</li>
                            <li>{{"intégration des médias sociaux" | upcase }}</li>
                        </ul>
                    </div>
                    <img src="../assets/images/Services/mobile-website-portfolio-techsome-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price">{{ "à partir de 800€" | upcase }}</span>
            </div>
            <div class="services-list-component" id="site-ecommerce">
                <div class="services-list-component-content">
                    <h2>{{"site e-commerce éco-responsable" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Vous avez une vision unique pour votre entreprise, et un site e-commerce sur mesure peut vous aider à la concrétiser. Imaginez une plateforme en ligne qui reflète l'essence de votre marque, mettant en avant vos produits de manière attrayante et intuitive.Avec une conception pensée pour l'expérience utilisateur, vos clients pourront naviguer en toute simplicité, découvrir vos offres et finaliser leurs achats en toute confiance. De plus, une solution e-commerce personnalisée offre la flexibilité nécessaire pour évoluer avec votre entreprise, vous permettant d'ajouter de nouveaux produits, de gérer les commandes et d'optimiser votre catalogue à tout moment.</p>
                        <div class="inclut-list">
                            <h3>{{"inclut" | upcase }}</h3>
                            <ul>
                                <li>{{"TOUT DU SITE-VITRINE +" | upcase }}</li>
                                <li>{{"page produit & boutique" | upcase }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list-component-content-column2">
                        <h3>{{"a la carte" | upcase }}</h3>
                        <ul>
                            <li>{{"TOUT DU SITE-VITRINE +" | upcase }}</li>
                            <li>{{"mise en ligne des produits" | upcase }}</li>
                            <li>{{"intégration du système de paiement" | upcase }}</li>
                            <li>{{"intégration du système de livraison" | upcase }}</li>
                            <li>{{"pipeline d’achat sur-mesure" | upcase }}</li>
                            <li>{{"FACTURE PERSONNALISER" | upcase }}</li>
                            <li>{{"mise en place d’un BLOG" | upcase }}</li>
                            <li>{{"panier d’achat personnaliser" | upcase }}</li>
                            <li>{{"conseil en e-merchandising" | upcase }}</li>
                        </ul>
                    </div>
                    <img src="../assets/images/Services/la-fleur-nue-ipad-website-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price">{{ "à partir de 1000€" | upcase }}</span>
            </div>
            <div class="services-list-component" id="application-web">
                <div class="services-list-component-content">
                    <h2>{{"application web éco-responsable" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Vous cherchez à donner vie à vos idées en ligne ?Je transforme vos concepts en une expérience utilisateur captivante. Grâce à une expertise approfondie en HTML, CSS et JavaScript, je conçois des interfaces utilisateur impeccables et réactives qui fonctionnent sur tous les appareils. Des animations fluides aux transitions intuitives, chaque détail est soigneusement façonné pour offrir une expérience web exceptionnelle.Je comprend l'importance de l'accessibilité et de la compatibilité entre navigateurs, assurant ainsi que votre site fonctionne de manière optimale pour tous vos visiteurs.</p>
                        <div class="inclut-list">
                            <h3>{{"inclut" | upcase }}</h3>
                            <ul>
                                <li>{{"cadrages et cahier des charges" | upcase }}</li>
                                <li>{{"conception et design" | upcase }}</li>
                                <li>{{"dévelopPement web" | upcase }}</li>
                                <li>{{"1 mois d’accompagement" | upcase }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list-component-content-column2">
                        <h3>{{"a la carte" | upcase }}</h3>
                        <ul>
                            <li>{{"test & debogage" | upcase }}</li>
                            <li>{{"documentation" | upcase }}</li>
                            <li>{{"maintenance" | upcase }}</li>
                            <li>{{"seo" | upcase }}</li>
                            <li>{{"optimisation accessibilité" | upcase }}</li>
                            <li>{{"optimisation performance" | upcase }}</li>
                            <li>{{"google analytics" | upcase }}</li>
                            <li>{{"intégration de services tiers" | upcase }}</li>
                            <li>{{"securité" | upcase }}</li>
                        </ul>
                    </div>
                    <img src="../assets/images/Services/Kasa-web-application-labtop-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price">{{ "selon projet" | upcase }}</span>
            </div>
            <div class="services-list-component" id="identite-visuelle">
                <div class="services-list-component-content">
                    <h2>{{"identité visuelle" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Un site web exceptionnel est une chose, mais une identité visuelle forte est ce qui vous distingue vraiment. En complément d’un site nous vous proposons de réaliser votre identité visuelle. Elle sera parfaitement intégrée à votre site web, créant ainsi une expérience unifiée pour vos visiteurs.
                            Du logo aux palettes de couleurs en passant par la typographie, nous concevons une identité visuelle qui reflète parfaitement votre entreprise.</p>
                        <div class="inclut-list">
                            <h3>{{"inclut" | upcase }}</h3>
                            <ul>
                                <li>{{"conception du logo principale" | upcase }}</li>
                                <li>{{"palette de couleurs" | upcase }}</li>
                                <li>{{"typographie" | upcase }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-list-component-content-column2">
                        <h3>{{"a la carte" | upcase }}</h3>
                        <ul>
                            <li>{{"Logo secondaires" | upcase }}</li>
                            <li>{{"éléments graphiques" | upcase }}</li>
                            <li>{{"packaging" | upcase }}</li>
                            <li>{{"application print" | upcase }}</li>
                            <li>{{"signature mail personnalisé" | upcase }}</li>
                        </ul>
                    </div>
                    <img src="../assets/images/Services/polpo-nero-charte-graphique-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price">{{ "à partir de 500€" | upcase }}</span>
            </div>
            <div class="services-list-component" id="audit">
                <div class="services-list-component-content">
                    <h2>{{"audit eco-responsabilité web" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Chaque clic, chaque interaction en ligne a un impact sur notre planète. Votre site internet peut-il faire mieux pour la Terre ?<br>
                            Notre service d'audit de site se concentre sur l'éco-responsabilité numérique. Nous passons au crible chaque élément pour identifier les opportunités d'amélioration. De l'efficacité énergétique à la réduction de l'empreinte carbone, nous vous aidons à prendre des mesures concrètes.<br><br>

                            <b>Analyse de la Consommation d'Énergie :</b> Nous évaluons l'efficacité énergétique de votre site pour réduire sa consommation.<br><br>

                            <b>Optimisation des Performances :</b> Des pages plus rapides, une meilleure expérience utilisateur et une réduction de l'empreinte carbone.<br><br>

                            <b>Conseils Pratiques :</b> Recevez des recommandations concrètes pour rendre votre site plus éco-responsable.<br><br>

                            Pourquoi Choisir Notre Service ?<br>
                            En tant que pionniers de l'éco-responsabilité numérique, nous combinons expertise technique et engagement environnemental. Nous croyons qu'un site web peut être beau, performant et respectueux de la planète.<br><br>

                            Prêt à transformer votre site en une force positive pour l'environnement ? Contactez-nous aujourd'hui pour planifier votre audit de site !<br><br>

                            Ensemble, faisons une différence.</p>
                    </div>
                    <div class="services-list-component-content-column2"></div>
                    <img src="../assets/images/Services/nina-carducci-mobile-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price"><s>{{ "500€" | upcase }}</s>{{ "offert !" | upcase }}<span>{{ "(offre de lancement)" | upcase }}</span></span>
            </div>
            <div class="services-list-component" id="gestion">
                <div class="services-list-component-content">
                    <h2>{{"Gestion & modification" | upcase }}</h2>
                    <div class="services-list-component-content-column1">
                        <p>Vous souhaitez libérer votre temps et vous concentrer sur ce que vous faites de mieux, tout en assurant que votre site internet reste toujours à jour et performant ? Notre service de Gestion et Modification de Site Internet est la solution dont vous avez besoin.<br><br>

                            Vous souhaitez apporter une modification légère à votre site sur WordPress mais ne savez pas comment vous y prendre ?<br><br>

                            Libérez-vous du fardeau de la gestion de site internet. Contactez-nous aujourd'hui et découvrez comment notre service peut vous aider à maintenir une présence en ligne forte et dynamique.</p>
                    </div>
                    <div class="services-list-component-content-column2">
                        <h3>{{"a la carte" | upcase }}</h3>
                        <ul>
                            <li>{{"ajout de contenu ou de page" | upcase }}</li>
                            <li>{{"mise a jour de contenu" | upcase }}</li>
                            <li>{{"mise en ligne de produit" | upcase }}</li>
                            <li>{{"maintenance" | upcase }}</li>
                            <li>{{"seo" | upcase }}</li>
                            <li>{{"optimisation accessibilité" | upcase }}</li>
                            <li>{{"optimisation performance" | upcase }}</li>
                            <li>{{"google analytics" | upcase }}</li>
                            <li>{{"intégration de services tiers" | upcase }}</li>
                            <li>{{"securité" | upcase }}</li>
                            <li>{{"support techniquE" | upcase }}</li>
                        </ul>
                    </div>
                    <img src="../assets/images/Services/labtop-website-portfolio-sophie-buel-XL.webp" alt="mobile-version-of-techsome-website">
                </div>
                <span class="services-componement-button"><a href="https://rb5pq67djgi.typeform.com/to/g4P4QBHz" target="_blank">{{ "demander un devis" | upcase }}</a></span>
                <span class="services-componement-price">{{ "selon demande" | upcase }}</span>
            </div>
        </div>
    </div>
</section>